*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custome Properties -- CSS Variables*/
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #2f440d;
  --clr-dark: #fafafa;
  --clr-accent: #a35200;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.5rem;
  --bs-1: 0.25em 0.25em 0.75em 0.75em rgba(0, 0, 0, 0.25),
    0.25em 0.25em 0.5em rgba(0, 0, 0, 0.5);
  --bs-2: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.25em 0.25em 0.5em rgba(0, 0, 0, 0.15);
  --br: 5px;
  --ts: 2px 2px 8px #4c2e05;
  --ts-title: 5px 5px 8px #4c2e05;
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* ----------------------------- */
html {
  position: relative;
  min-height: 100vh;
  background-image: url("./assets/desktop/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* General Styles */
body {
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
  text-shadow: var(--ts);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
:focus {
  outline: 2px solid var(--clr-dark);
  outline-offset: 3px;
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-dark);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
strong {
  font-weight: var(--fw-bold);
}
.section-title {
  margin-bottom: 0.25em;
}
.section-title-home {
  font-weight: var(--fw-reg);
  text-shadow: var(--ts);
}
.section-title-home > strong {
  display: block;
}
.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section-subtitle-home,
.section-title-contact,
.section-subtitle-my-work {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  text-shadow: var(--ts-title);
}
.section-subtitle-home {
  font-size: 25px;
  box-shadow: var(--bs-2);
}
.section-subtitle-my-work {
  width: 480px;
}
/* Intro Section */
header {
  display: none;
}
.intro {
  position: relative;
}
.intro-img {
  box-shadow: var(--bs-1);
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    grid-area: "img";
    min-width: 300px;
  }
  .section-subtitle-home {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    bottom: 300px;
    z-index: -1;
    width: 700px;
  }
}
/* ----Know Me Better--- */
.about-me {
  text-align: center;
  background-color: rgba(41, 25, 6, 0.4);
}
.section-title-about-me,
.section-title-my-work {
  position: relative;
  border-bottom: 2px solid var(--clr-accent);
  text-shadow: var(--ts-title);
  font-family: var(--ff-secondary);
}
.work {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 4em;
}
@media (min-width: 800px) {
  .know-me-better {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  /* Sibling Gap */
  .work + .work {
    margin-left: 3em;
  }
}
.my-work {
  margin: 0 auto;
}
