*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custome Properties -- CSS Variables*/
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #ede0d4;
  --clr-dark: #352208;
  --clr-accent: #b7b7a4;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* ----------------------------- */
html {
  position: relative;
  min-height: 100vh;
  background-image: url("./assets/desktop/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* General Styles */
body {
  /* background-color: var(--clr-light); */
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(173, 128, 128, 0.3)
  );
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
strong {
  font-weight: var(--fw-bold);
}
.section-title {
  margin-bottom: 0.25em;
}
.section-title-home {
  font-weight: var(--fw-reg);
}
.section-title-home > strong {
  display: block;
}
.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section-subtitle-home,
.section-title-about-me {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
/* Intro Section */
header {
  display: none;
}
.intro {
  position: relative;
}
.intro-img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    grid-area: "img";
    min-width: 300px;
  }
  .section-subtitle-home {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    bottom: 300px;
    z-index: -1;
    /* bottom: 100px;
    z-index: -1;
    padding-right: 10px; */
    width: 700px;
  }
}
