*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custome Properties -- CSS Variables*/
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg: #faf4ee;
  --clr-light:#fafafa;
  --clr-dark: #361F01;
  --clr-accent: #a35200;
  --transparentBG: rgba(78, 44, 2, 0.4);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.5rem;
  --bs-1: 0.25em 0.25em 0.75em 0.75em rgba(78, 44, 2, 0.35),
    0.25em 0.25em 0.5em rgba(78, 44, 2, 0.5);
  --bs-2: 0.25em 0.25em 0.75em rgba(78, 44, 2, 0.35),
    0.25em 0.25em 0.5em rgba(78, 44, 2, 0.25);
  --br: 5px;
  --ts: 2px 2px 8px #4c2e05;
  --ts-title: 5px 5px 8px #4c2e05;
  --ts-darker: 2px 2px 8px #000;
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* ----------------------------- */
html {
  position: relative;
  min-height: 100vh;
  /* background-image: url("./assets/desktop/bg2.jpg");
  background-size: cover;
  background-attachment: fixed; */
  scroll-behavior: smooth;
 
}

/* General Styles */
body {
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
  text-shadow: var(--ts);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
#home h1 {
  text-shadow: var(--ts-darker);
}
:focus {
  outline: 2px solid var(--clr-light);
  outline-offset: 3px;
}
/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-light);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
strong {
  font-weight: var(--fw-bold);
}
.section-title {
  margin-bottom: 0.25em;
}
.section-title-home {
  font-weight: var(--fw-reg);
  text-shadow: var(--ts);
}
.section-title-home > strong {
  display: block;
}
.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section-subtitle-home,
.section-title-contact,
.section-subtitle-my-work {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  text-shadow: var(--ts-title);
  box-shadow: var(--bs-2);
}
.section-subtitle-home {
  font-size: 25px;
  box-shadow: var(--bs-2);
}
.section-subtitle-work-gallery {
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  text-shadow: var(--ts-title);
}
/* Nav Bar */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  background-color: var(--clr-dark);
}
.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  font-family: var(--ff-secondary);
}
.nav-link:hover {
  color: var(--clr-accent);
}
/* .logo{
  max-width: 100px;
} */
.nav-toggle {
  background-color: transparent;
  border: 0;
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 1000;
}
/* JavaScript say hello! */
.nav-open .nav {
  transform: translate(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
/* JavaScript say bye! */
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-item img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  background-color: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transform: transition 250ms ease-in-out;
}
.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
/* Introduction Section */
.intro {
  position: relative;
}
.intro-img {
  box-shadow: var(--bs-1);
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    grid-area: img;
    min-width: 300px;
    z-index: 2;
  }
  .section-subtitle-home {
    grid-row: 2;
    grid-column: 1/-1;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px+4em);
    height: 60px;
    justify-content: center;
    text-align: right;
    /* align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    bottom: 300px;
    z-index: -1;
    width: 700px; */
  }
}
/* ----Know Me Better--- */
.about-me {
  text-align: center;
  background-color: var(--transparentBG);
}
.section-title-about-me,
.section-title-my-work,
.section-title-work-gallery {
  position: relative;
  border-bottom: 3px solid #e9c46a;
  text-shadow: var(--ts-title);
  font-family: var(--ff-secondary);
}
.work {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 4em;
}
@media (min-width: 800px) {
  .know-me-better {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  /* Sibling Gap */
  .work + .work {
    margin-left: 3em;
  }
}
.my-work {
  margin: 0 auto;
}
.my-work-image {
  box-shadow: var(--bs-2);
}
@media (min-width: 600px) and (min-width: 800px) {
  .my-work {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img img"
      "subtitle img img"
      "text img img";
    grid-column-gap: 2em;
  }
  .section-title-my-work {
    grid-area: title;
  }
  .section-subtitle-my-work {
    grid-area: subtitle;
    grid-column: 1/-1;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px+4em);
    height: 60px;
    justify-content: center;
  }
  .my-work-image {
    grid-area: img;
    z-index: 2;
    position: relative;
    z-index: 2;
  }
}
/* My Work Gallery */
.work-gallery {
  background-color: var(--transparentBG);
  text-align: center;
}
.my-work-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.my-work-gallery-item {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.my-work-gallery-item:focus {
  outline: 3px solid var(--clr-accent);
}
.my-work-gallery-item:hover,
.my-work-gallery-item:focus {
  transform: scale(1);
  opacity: 0.7;
}
/* Footer */
.footer {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer-link {
  font-weight: var(--fw-bold);
}
.footer-link:hover,
.social-item-link:hover {
  opacity: 0.7;
}
.footer-link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list-item {
  margin: 0 0.5em;
  padding: 0.5em;
}
.social-list-item img:hover {
  opacity: 0.7;
}
